.home-container {
    padding: 20px;
    font-size: 28px;
}

.home-container h1 {
    font-size: 1em;
}

.home-container p {
    color: #7E7E7E;
    font-size: 0.5em;
    font-weight: 700;
}

@media (min-width: 576px) {
    .home-container {
        padding: 30px;
        font-size: 40px;
    }
}
@media (min-width: 768px) {
    .home-container {
        padding: 41px;
        font-size: 48px;
    }
}
@media (min-width: 992px) {
    .home-container {
        padding: 51px;
        font-size: 58px;
    }
}
